<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Listing Created</h5>
    <h6 class="card-subtitle mb-2 text-muted">Information:</h6>
    <p class="card-text"><%=@dog_name%></p>
    <p class="card-text"><%=@dog_breed%></p>
    <p class="card-text"><%=@dog_age%></p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
